@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Стили для react-select */
.react-select-container {
  width: 100%;
}

.react-select__control {
  border-radius: 8px;
  border: 1px solid rgb(229, 231, 235);
  min-height: 40px;
}

.react-select__control:hover {
  border-color: rgb(209, 213, 219);
}

.react-select__control--is-focused {
  border-color: rgb(59, 130, 246);
  box-shadow: 0 0 0 1px rgb(59, 130, 246);
}

.dark .react-select__control {
  background-color: rgb(31, 41, 55);
  border-color: rgb(55, 65, 81);
  color: white;
}

.dark .react-select__control:hover {
  border-color: rgb(75, 85, 99);
}

.dark .react-select__menu {
  background-color: rgb(31, 41, 55);
  border: 1px solid rgb(55, 65, 81);
}

.dark .react-select__option {
  background-color: rgb(31, 41, 55);
  color: white;
}

.dark .react-select__option:hover {
  background-color: rgb(55, 65, 81);
}

.dark .react-select__option--is-selected {
  background-color: rgb(59, 130, 246);
}

.dark .react-select__single-value {
  color: white;
}

.dark .react-select__input-container {
  color: white;
}

.dark .react-select__placeholder {
  color: rgb(156, 163, 175);
}

